
* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    
    justify-content: space-around;
    padding: 1.2em;
}

section {
    border: 1px red dotted;
    min-height: 100vh;
    background-color: moccasin;
    
}

i {
    color: mediumpurple;

}

h1 {
   color: black;
}

h2 {
   color: yellow;
}

h3 {
    color: gray
}

h4 {

}

h5 {

}

h6 {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 1.2em;
}
a {
    text-decoration: none;
    /* color: black; */
    /* margin: 0.8em; */
}

a:link {
    color: black;
}

a:visited {
    color: green;
}

a:active {
    color:yellow ;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: chartreuse;
    /* padding: 0.12em; */
}
footer {
  
    justify-content: space-between;
    align-items: center;
}

/* } Text Style // end */



/* CLASSES */

.row {
    display: flex;
}

.hero {
    text-align: center;
    background-image: url("../img/guillaume-briard-lSXpV8bDeMA-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgcolorSection1 {
    background-color: blueviolet;
}

.bgcolorSection2 {
    background-color: brown;
}

.bgcolorSection3 {
    background-color: coral;
}

.bgcolorSection4 {
    background-color: darkcyan;
    background-image: url("../img/tudor-baciu-DWPRqPUc0e8-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fa-search-plus {
    color: black;
}

.centerSection {
    text-align: center;
}

.footer-menu {
    display: block;
    padding: 0 1.2em 1.2em 0;
}



/* ID */

#featuresSection {
    justify-content: space-between;
    align-items: center;
}

#testimonialSection {
    /* justify-content: center; */
    width: 500px ;
    text-align: center;
}
