
* {
    font-family: 'Nunito Sans', sans-serif;
}

section {
    border: 1px red dotted;
}
/* Text Styles // start */
h1 {
   
    color:aqua;
}

h2 {
   
    color: yellow;
}

h3 {
    color: blueviolet
}

h4 {

}

h5 {

}

h6 {

}
